<div>
  <nav class="navbar navbar-dark bg-dark main-nav">
    <a class="navbar-brand title" href="/" matTooltip="Retournez à l'accueil"
      >INF3710 - TP4</a
    >
  </nav>

  <div class="home" *ngIf="route == ''">
    <p>Base de donnée HOPITAL</p>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      routerLink="/medecins"
    >
      Liste de médecins<mat-icon>arrow_right</mat-icon>
    </button>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      routerLink="/medecins/insert"
    >
      Ajouter un médecin<mat-icon>arrow_right</mat-icon>
    </button>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      routerLink="/medecins/modification"
    >
      Modifier un médecin<mat-icon>arrow_right</mat-icon>
    </button>
    <button
      mat-raised-button
      color="primary"
      class="btn"
      routerLink="/medecins/delete"
    >
      Supprimmer un médecin<mat-icon>arrow_right</mat-icon>
    </button>
  </div>
  <router-outlet></router-outlet>
</div>
